html{
    color: white;
    background-color: black;
}
.main-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 50px;
    text-align: center;
    font-family: Poiret One;
}
.game-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    row-gap: 10px;
    column-gap: 20px;
    font-family: Poiret One;
    max-width: 400px;
    align-self: center;
    justify-self: center;
}
#result{
    color: blue;
    font-size: 5rem;
    font-family: Niconne;
    background-color: black;
    border: 0;
    padding-top: 50px;
}
.diceimg{
    height: 200px;
    width: 200px;
    border-radius: 12%;
}
.footer{
    padding-top: 80px;
}
.name{
    font-size: 1.5rem;
}
@media(max-width:400px){
    .diceimg{
        height: 100px;
        width: 100px;
        border-radius: 12%;
    }
}